p.sidebar {
  	font-family: Garamond, Georgia, serif;
	color: rgb(56, 56, 56);
	font-style: oblique;
}
h1.sidebar {
	font-family: Garamond, Georgia, serif;
	color: rgb(56, 56, 56);
	font-style: oblique;
}